.article {
  padding-top: 40px;
}

.article__title-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    height: 1px;
    background-color: $borderline-light;
  }
}

.article__title {
  position: relative;
  margin: 0;
  padding: 0 15px;
  font-size: 23px;
  line-height: 25px;
  font-weight: 700;
  color: $accent;
  background-color: $background-basic;
}

.article__figure {
  display: flex;
  flex-direction: column;
  margin: 0 0 34.5px 0;
}

.article__image-wrapper {
  margin-bottom: 15px;
  overflow: auto;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &--no-js {
    padding-bottom: 15px;
    margin-bottom: 0;

    -ms-overflow-style: auto;
    scrollbar-width: thin;
    scrollbar-color: $accent $border-input;

    &::-webkit-scrollbar {
      display: block;
      height: 4px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 100em;
      background: $border-input;
    }

    &::-webkit-scrollbar-thumb {
      border: none;
      border-radius: 100em;
      background-color: $accent;
    }
  }
}

.article__image {
  display: block;
}

.article__figure-scrollbar {
  position: relative;
  height: 4px;
  border-radius: 100em;
  background-color: $border-input;
}

.article__image-wrapper--no-js ~ .article__figure-scrollbar {
  display: none;
}

.article__figure-scrollthumb {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 25%;
  border-radius: 100em;
  background-color: $accent;
  transition-property: left;
  transition-duration: 50ms;
}

.article__figcaption {
  order: -1;
  margin-bottom: 26px;
  font-family: "Arial";
  font-size: 14px;
  line-height: 18px;
  font-style: italic;
}

.article__quote-section {
  padding-bottom: 56px;
}

.article__quote-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 23px;
  line-height: 36px;
  color: $text-basic-dark2;
}

.article__blockquote {
  position: relative;
  margin: 0;
  padding: 8px 0 0 53px;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 20px;
  font-style: italic;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: url("../img/icon-quote.png");
  }
}

.article__quote-text {
  color: $text-basic-dark1;
  margin-top: 0;
  margin-bottom: 22px;
}

.article__quote-cite {
  color: $text-basic-light2;
}

.article__add {
  padding-top: 22px;
  padding-bottom: 20px;
  background-color: $background-neutral;
}

.article__add-wrapper {
  max-width: max-content;
}

.article__add-text {
  margin-top: 0;
  margin-bottom: 14px;
  font-family: "SegoeUI";
  font-size: 14px;
  line-height: 18px;
  color: $text-basic-dark2;
}

.article__add-link {
  font-family: "Helvetica";
  color: $accent-link;
}

.article__add-image {
  display: block;
}

.article__conclusion-section {
  padding-top: 25px;
  padding-bottom: 30px;
}

.article__conclusion-title {
  margin-top: 0;
  margin-bottom: 21px;
  font-size: 21px;
  line-height: 36px;
  font-weight: 700;
  color: $text-basic-dark2;
}

.article__conclusion-text {
  margin: 0;
  font-family: "Arial";
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $desktop-width) {
  .article {
    padding-top: 80px;
  }

  .article__title-wrapper {
    margin-bottom: 64px;

    &::before {
      background-color: $borderline-dark;
    }
  }

  .article__title {
    font-size: 48px;
    line-height: 48px;
  }

  .article__figure {
    display: block;
    margin-bottom: 0;
    padding-bottom: 55px;
    border-bottom: 1px solid $borderline-light;
  }

  .article__image-wrapper {
    margin-bottom: 20px;
  }

  .article__image {
    width: 100%;
  }

  .article__figure-scrollbar {
    display: none;
  }

  .article__figcaption {
    margin-bottom: 0;
  }

  .article__figcaption-mobile-text {
    display: none;
  }

  .article__quote-section {
    padding: 55px 0 45px 0;
  }

  .article__quote-title {
    margin-bottom: 21px;
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
  }

  .article__blockquote {
    padding-top: 9px 0 0 58px;
    font-size: 18px;
    line-height: 24px;
  }

  .article__quote-text {
    margin-bottom: 30px;
  }

  .article__quote-cite {
    color: $text-basic-light3;
  }

  .article__add {
    padding-top: 34px;
    padding-bottom: 36px;
  }

  .article__add-wrapper {
    padding: 0 128px;
  }

  .article__add-text {
    margin-bottom: 17px;
  }

  .article__add-image {
    width: 100%;
  }

  .article__conclusion-section {
    padding-top: 45px;
    padding-bottom: 74px;
  }

  .article__conclusion-title {
    margin-top: 0;
    margin-bottom: 26px;
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
    color: $text-basic-dark2;
  }

  .article__conclusion-text {
    font-size: 16px;
    line-height: 24px;
  }
}

