.choices {
  position: relative;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 15px;
  color: $text-basic-input;
  outline: none;
}

.choices__inner {
  position: relative;
  margin-bottom: 1px;
  padding: 17px 32px 16px 19px;
  border: 1px solid $border-input;
  border-radius: 6px;
  background-color: $background-basic;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 22px;
    width: 6px;
    height: 6px;
    border-bottom: 2px solid $text-basic-dark2;
    border-left: 2px solid $text-basic-dark2;
    transform: translateY(-60%) rotateX(0) rotate(-45deg);
    transition-property: transform;
    transition-duration: 100ms;
  }

  .choices__item--selectable {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.choices__dropdown {
  position: relative;
  display: block;

  .choices__list {
    position: absolute;
    display: none;
    top: 9px;
    right: 0;
    left: 0;
    background-color: $background-basic;
    box-shadow: $shadow-select;
    z-index: 1;
  }

  &.is-active .choices__list {
    display: block;
  }
}

.choices__item--choice {
  padding: 15.5px 10px 15.5px 25px;

  &.is-highlighted {
    position: relative;
    background-color: $background-neutral;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 7px;
      background-color: $accent;
    }
  }
}

.choices.is-open {
  .choices__inner::before {
    transform: translateY(-60%) rotateX(180deg) rotate(-45deg);
  }
}

@media (min-width: $desktop-width) {
  .choices__inner {
    max-width: 226px;
  }
}
